@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($duration){
  -webkit-transition: all $duration ease;
     -moz-transition: all $duration ease;
      -ms-transition: all $duration ease;
       -o-transition: all $duration ease;
          transition: all $duration ease;
}
@mixin highlight($color){
  -webkit-box-shadow: 0 0 5px $color;
     -moz-box-shadow: 0 0 5px $color;
       -o-box-shadow: 0 0 5px $color;
          box-shadow: 0 0 5px $color;
}